*NODE_ENV=

PORT=
DB_URL=

BASE_URL=
FILE_PATH="/uploads"

SUPERADMIN_PHONE=
SUPERADMIN_PASSWORD=

TOKEN_ACCESS_KEY=
TOKEN_ACCESS_TIME=

TOKEN_REFRESH_KEY=
TOKEN_REFRESH_TIME=


REDIS_URL=

OTP_SECRET=
OTP_TTL=
OTP_RESEND=
OTP_ATTEMPTS=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
